<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="MainLog" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="MainLog1" 
              xsi:type="File" 
              fileName="logs/Snowflake.Powershell.Main.${shortdate}.log" 
              keepFileOpen="false" 
              openFileCacheTimeout="30" 
              autoFlush="false" 
              archiveAboveSize="52428800" 
              archiveFileName="logs/Snowflake.Powershell.Main.${shortdate}.{#####}.log" 
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message}"/>
    </target>
    <target name="Snowflake.Powershell.ConnectAppCommand" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="Snowflake.Powershell.ConnectAppCommand1" 
              xsi:type="File" 
              fileName="logs/Snowflake.Powershell.ConnectAppCommand.${shortdate}.log" 
              keepFileOpen="false" 
              openFileCacheTimeout="30" 
              autoFlush="false" 
              archiveAboveSize="52428800" 
              archiveFileName="logs/Snowflake.Powershell.ConnectAppCommand.${shortdate}.{#####}.log" 
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message}"/>
    </target>
    <target name="Snowflake.Powershell.GetWorksheetsCommand" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="Snowflake.Powershell.GetWorksheetsCommand1" 
              xsi:type="File" 
              fileName="logs/Snowflake.Powershell.GetWorksheetsCommand.${shortdate}.log" 
              keepFileOpen="false" 
              openFileCacheTimeout="30" 
              autoFlush="false" 
              archiveAboveSize="52428800" 
              archiveFileName="logs/Snowflake.Powershell.GetWorksheetsCommand.${shortdate}.{#####}.log" 
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message}"/>
    </target>
    <target name="Snowflake.Powershell.NewWorksheetCommand" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="Snowflake.Powershell.NewWorksheetCommand1" 
              xsi:type="File" 
              fileName="logs/Snowflake.Powershell.NewWorksheetCommand.${shortdate}.log" 
              keepFileOpen="false" 
              openFileCacheTimeout="30" 
              autoFlush="false" 
              archiveAboveSize="52428800" 
              archiveFileName="logs/Snowflake.Powershell.NewWorksheetCommand.${shortdate}.{#####}.log" 
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message}"/>
    </target>
    <target name="Snowflake.Powershell.RemoveWorksheetCommand" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="Snowflake.Powershell.RemoveWorksheetCommand1" 
              xsi:type="File" 
              fileName="logs/Snowflake.Powershell.RemoveWorksheetCommand.${shortdate}.log" 
              keepFileOpen="false" 
              openFileCacheTimeout="30" 
              autoFlush="false" 
              archiveAboveSize="52428800" 
              archiveFileName="logs/Snowflake.Powershell.RemoveWorksheetCommand.${shortdate}.{#####}.log" 
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message}"/>
    </target>
    <target name="Snowflake.Powershell.InvokeWorksheetCommand" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="Snowflake.Powershell.InvokeWorksheetCommand1" 
              xsi:type="File" 
              fileName="logs/Snowflake.Powershell.InvokeWorksheetCommand.${shortdate}.log" 
              keepFileOpen="false" 
              openFileCacheTimeout="30" 
              autoFlush="false" 
              archiveAboveSize="52428800" 
              archiveFileName="logs/Snowflake.Powershell.InvokeWorksheetCommand.${shortdate}.{#####}.log" 
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message}"/>
    </target>

    <target name="Snowflake.Powershell.GetFoldersCommand" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="Snowflake.Powershell.GetFoldersCommand1" 
              xsi:type="File" 
              fileName="logs/Snowflake.Powershell.GetFoldersCommand.${shortdate}.log" 
              keepFileOpen="false" 
              openFileCacheTimeout="30" 
              autoFlush="false" 
              archiveAboveSize="52428800" 
              archiveFileName="logs/Snowflake.Powershell.GetFoldersCommand.${shortdate}.{#####}.log" 
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message}"/>
    </target>

    <target name="Snowflake.Powershell.GetDashboardsCommand" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="Snowflake.Powershell.GetDashboardsCommand1" 
              xsi:type="File" 
              fileName="logs/Snowflake.Powershell.GetDashboardsCommand.${shortdate}.log" 
              keepFileOpen="false" 
              openFileCacheTimeout="30" 
              autoFlush="false" 
              archiveAboveSize="52428800" 
              archiveFileName="logs/Snowflake.Powershell.GetDashboardsCommand.${shortdate}.{#####}.log" 
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message}"/>
    </target>
    <target name="Snowflake.Powershell.NewDashboardCommand" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="Snowflake.Powershell.NewDashboardCommand1" 
              xsi:type="File" 
              fileName="logs/Snowflake.Powershell.NewDashboardCommand.${shortdate}.log" 
              keepFileOpen="false" 
              openFileCacheTimeout="30" 
              autoFlush="false" 
              archiveAboveSize="52428800" 
              archiveFileName="logs/Snowflake.Powershell.NewDashboardCommand.${shortdate}.{#####}.log" 
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message}"/>
    </target>
    <target name="Snowflake.Powershell.RemoveDashboardCommand" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="Snowflake.Powershell.RemoveDashboardCommand1" 
              xsi:type="File" 
              fileName="logs/Snowflake.Powershell.RemoveDashboardCommand.${shortdate}.log" 
              keepFileOpen="false" 
              openFileCacheTimeout="30" 
              autoFlush="false" 
              archiveAboveSize="52428800" 
              archiveFileName="logs/Snowflake.Powershell.RemoveDashboardCommand.${shortdate}.{#####}.log" 
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message}"/>
    </target>
    <target name="Snowflake.Powershell.InvokeDashboardCommand" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="Snowflake.Powershell.InvokeDashboardCommand1" 
              xsi:type="File" 
              fileName="logs/Snowflake.Powershell.InvokeDashboardCommand.${shortdate}.log" 
              keepFileOpen="false" 
              openFileCacheTimeout="30" 
              autoFlush="false" 
              archiveAboveSize="52428800" 
              archiveFileName="logs/Snowflake.Powershell.InvokeDashboardCommand.${shortdate}.{#####}.log" 
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message}"/>
    </target>

    <target name="Snowflake.Powershell.SnowflakeDriver" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="Snowflake.Powershell.SnowflakeDriver1" 
              xsi:type="File" 
              fileName="logs/Snowflake.Powershell.SnowflakeDriver.${shortdate}.log" 
              keepFileOpen="false" 
              openFileCacheTimeout="30" 
              autoFlush="false" 
              archiveAboveSize="52428800" 
              archiveFileName="logs/Snowflake.Powershell.SnowflakeDriver.${shortdate}.{#####}.log" 
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message}"/>
    </target>
    <target name="ConsoleLog" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="ConsoleLog1" 
              xsi:type="File" 
              fileName="logs/Snowflake.Powershell.Console.${shortdate}.log" 
              keepFileOpen="false" 
              openFileCacheTimeout="30" 
              autoFlush="false" 
              archiveAboveSize="52428800" 
              archiveFileName="logs/Snowflake.Powershell.Console.${shortdate}.{#####}.log" 
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message}"/>
    </target>
    <target name="console" xsi:type="ColoredConsole" layout="${message}" />
  </targets>

  <rules>
    <logger name="Snowflake.Powershell.Console" minlevel="Trace" writeTo="ConsoleLog"/> -->
    <logger name="Snowflake.Powershell.Console" minlevel="Trace" writeTo="console" final="true" /> -->
    <logger name="Snowflake.Powershell.ConnectAppCommand" minlevel="Trace" writeTo="Snowflake.Powershell.ConnectAppCommand" />
    <logger name="Snowflake.Powershell.GetWorksheetsCommand" minlevel="Trace" writeTo="Snowflake.Powershell.GetWorksheetsCommand" />
    <logger name="Snowflake.Powershell.NewWorksheetCommand" minlevel="Trace" writeTo="Snowflake.Powershell.NewWorksheetCommand" />
    <logger name="Snowflake.Powershell.RemoveWorksheetCommand" minlevel="Trace" writeTo="Snowflake.Powershell.RemoveWorksheetCommand" />
    <logger name="Snowflake.Powershell.InvokeWorksheetCommand" minlevel="Trace" writeTo="Snowflake.Powershell.InvokeWorksheetCommand" />
    <logger name="Snowflake.Powershell.GetFoldersCommand" minlevel="Trace" writeTo="Snowflake.Powershell.GetFoldersCommand" />
    <logger name="Snowflake.Powershell.GetDashboardsCommand" minlevel="Trace" writeTo="Snowflake.Powershell.GetDashboardsCommand" />
    <logger name="Snowflake.Powershell.NewDashboardCommand" minlevel="Trace" writeTo="Snowflake.Powershell.NewDashboardCommand" />
    <logger name="Snowflake.Powershell.RemoveDashboardCommand" minlevel="Trace" writeTo="Snowflake.Powershell.RemoveDashboardCommand" />
    <logger name="Snowflake.Powershell.InvokeDashboardCommand" minlevel="Trace" writeTo="Snowflake.Powershell.InvokeDashboardCommand" />
    <logger name="Snowflake.Powershell.SnowflakeDriver" minlevel="Trace" writeTo="Snowflake.Powershell.SnowflakeDriver" />
    <logger name="*" minlevel="Trace" writeTo="MainLog" />
  </rules>
</nlog>
